/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

.table_box {

    align-items: center;
    justify-items: center;




}

.table_cts {

    width: 70%;
    border-collapse: collapse;
    margin-top: 10px;
    padding: 30px;
    text-align: center;
    vertical-align: middle;

    border-radius: 30px;


    th {
        color: red;
        font-size: larger;
        font-weight: bolder;
        font-family: 'Times New Roman', Times, serif;
        height: 80px;
        width: 60px;

    }

    td {
        font-size: larger;
        font-weight: bolder;
        font-family: 'Times New Roman', Times, serif;
        height: 60px;
        width: 40px;

    }
}

.new_btn {


    border-radius: 10px;
    background-color: green;

    height: 50px;
    width: 150px;
    margin-left: 80%;


    a {
        text-decoration: none;
        color: white;
        text-transform: capitalize;
    }

}


.form_to_insert {
    border-radius: 10px;
    box-shadow: 5px 5px rgb(85, 85, 85);
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 35%;
    background-color: lightgrey;




}


.form_to_insert label {
    text-align: left;
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
}

.form_to_insert input[type="text"] {
    height: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;

}

.form_to_insert input[type="submit"] {
    border-radius: 10px;
    background-color: rgb(6, 17, 233);
    height: 50px;
    width: 150px;
    color: white;

}

#back_btn {

    border : 2px solid black;
    border-radius: 10px;
    background-color: rgb(239, 3, 34);
    height: 50px;
    width: 150px;
    align-items: center;
    justify-items: center;
   margin-left: 100px;
   margin-top: 60px;
   padding-top: 8px;
   padding-left: 9px;
       
  
    

    a {
        text-decoration: none;        
        color: white; 
      
     }
}


.edit_btns{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-left: 38%;
    margin-top: 1% ;
  
}



.crt_cst{


    border-radius: 10px;
    background-color: rgb(8, 236, 8);
    text-align: center;
    height: 50px;
    width: 150px;
    


    a {
        text-decoration: none;
        color: white;
        text-transform: capitalize;
    }

}


.all_customer{


    border-radius: 10px;
    background-color: rgb(146, 3, 3);

    height: 50px;
    width: 150px;
  


    a {
        text-decoration: none;
        color: white;
        text-transform: capitalize;
    }

}



.notice {
  color: green;
  text-align: center;
  font-weight: bold;
}


.customer-card {
  width: 400px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.card-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}


.btn {
  padding: 8px 14px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}


.edit-btn {
  background-color: #007bff;
  color: white;
  border-radius: 10px;
}

.back-btn {
  background-color: #6c757d;
  color: white;
  border-radius: 10px;
}

.delete-btn input {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 14px;
  border-radius: 10px;
}

.show-customer-link {
  color: white;
  background-color: #0d6efd;
  padding: 6px 12px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 500;
  margin: 5px;
}


.status_active{
    background-color: green;
    border-radius: 10px;
    height: 50px;
    width: 80%;
    margin-left: 15px;
   vertical-align: center;
    padding-top: 15px;
    color: white;
     text-transform: capitalize;
}

.status_inactive{
    background-color: red;
    border-radius: 10px;
    height: 50px;
    width: 80%;
    margin-left: 15px;
   vertical-align: center;
    padding-top: 15px;
    color: white;
    text-transform: capitalize;
}

.card:hover {
  transform: translateY(-4px);
  transition: 0.2s ease-in-out;
}

