<% content_for :title, "New customer" %>

<marquee direction="right"> <h1 style="color : red;">New Customers</h1> </marquee>

<%= render "form", customer: @customer %>

<br>



<div id="back_btn">
  <%= link_to "Back to customers", customers_path %>
</div>
