<% content_for :title, "Editing product" %>

<h1>Editing Products</h1>

<%= render "form", product: @product %>

<br>

<div class="edit_btns">
 <Button class="crt_cst" >   <%= link_to "Show this product", @product %> </Button>
  <Button class="all_customer"> <%= link_to "Back to products", products_path %> </Button>
</div>
